.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hydraTitle {
  color: white;
  font-size: 36px;
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 8px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 80%;
  height: 50px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  padding: 10px;
  color: white;
}

.input::placeholder {
  font-family: var(--primary-font);
  color: rgba(255, 255, 255, 0.5);
}

.button {
  width: 80%;
  height: 50px;
  margin: 10px;
  font-family: var(--primary-font);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #3083dc;
  font-size: 16px;
  color: #3083dc;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #3083dc;
    color: black;
  }
}

.logo {
  margin: 20px;
  transition: 0.3s;
  &:hover {
    width: 120px;
    height: 120px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .input {
    width: 50%;
  }
  .button {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .input {
    width: 30%;
  }
  .button {
    width: 30%;
  }
}
